.square {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #808080;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

#canvas {
    display: flex;
    flex-wrap: wrap;
}

.filled {
    background-color: black;
}